
<table class="ui table">
    <thead>
    <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>UpperArm</th>
        <th>Waist</th>
        <th>Hips</th>
    </tr>
    </thead>
    <tbody>
    {{#each memberAssessments}}
        <tr>
            <td>
                {{id}}
            </td>
            <td>
                {{Chest}}
            </td>
            <td>
                {{Thigh}}
            </td>
            <td>
                {{UpperArm}}
            </td>
            <td>
                {{Waist}}
            </td>
            <td>
                {{Hips}}
            </td>
            <td>
        {{/each}}
            </td>
        </tr>
    </tbody>
</table>